.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}
.dropdown{
  padding-left: 1200px;
}
.table {
  margin-top: 20px;
}

.table th {
  text-align: center;
}

.table ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.table li {
  margin: 0;
  padding: 0;
}
